#leftcontent {
    margin-top: 15%;
    width: 80%;
}

#landing-page {
    overflow: hidden;
}

#landing-image {
    position: fixed;
    /* width: 610px;
    height: 866px;
    left: 64px; */
    right: 0px;
    top: 0px;
    z-index: -1;
}
