@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* HTML, BODY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Raleway, sans-serif;
}

body {
  margin-top: 0px;
}

*:focus {
  outline: none;
}

::selection {
  color: #fff;
  background-color: #ff589e;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4c60;
}

/* Header Component */

/* Login*/

.ModalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
}

#loginModal {
  width: 350px;
  top: 10%;
}

.modal-content {
  border: 2px solid #111;
  border-radius: 10px;
}

.loginModal-header h2 {
  margin: auto 0px;
  color: #111;
  text-transform: uppercase;
}

.loginModal-header button.close {
  padding: 30px 20px 0 0;
  opacity: 1;
}

.loginModal-header button.close:focus {
  outline: none;
}

.loginModal-header svg {
  font-size: 30px;
  opacity: 1;
  color: black;
}

.loginModal-header svg:hover {
  opacity: 1;
  transform: scale(1.5);
  color: #de1738;
}

.login-content {
  align-items: center;
  text-align: center;
}

.login-content img {
  margin-bottom: 25px;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.email {
  margin-top: 0;
}

.i {
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) scale(1.02);
  color: #777;
  font-size: 18px;
  transition: 0.3s;
}

.loginModal-header h2 {
  margin: 10px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2rem;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i {
  color: #38d39f;
  transform: scale(1.2);
}

.login-fields {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

#login-btn,
.login-header-btn {
  display: block;
  width: 67%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 30px auto 10px auto;
  cursor: pointer;
  transition: 0.5s;
}

#login-btn:hover {
  background-position: right;
  transform: scale(1.1);
}

.login-header-btn {
  background-color: #fec5bb;
  color: #111;
  border: 1px solid #111;
  background-image: none;
  width: 100%;
}

.login-header-btn:hover {
  background-color: #2a9d8f;
  border: 2px solid #111;
  color: #fff;
  transform: scale(1.1);
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0 0 100px 0;
  z-index: 2;
}

/* Search */
.search {
  width: 270px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin-right: 50px;
}

.search_bar {
  width: 100%;
  height: 95%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(27, 28, 28, 1);
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 0px 2px 0px
    rgba(0.125490203499794, 0.125490203499794, 0.125490203499794, 1);
  display: inline-block;
}

.search_placeholder {
  width: 80%;
  color: #8261ee;
  position: absolute;
  top: 20%;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  opacity: 1;
  text-align: left;
  border-style: none;
}

::placeholder {
  color: rgba(27, 28, 28, 0.7);
}

.search_icon_space {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 85%;
  overflow: hidden;
  cursor: pointer;
}

/* Nav Links */
.nav-links a {
  padding: 10px;
  font-size: 18px;
  position: relative;
  color: #8261ee;
}

.navbar-brand a {
  color: #8261ee;
  font-size: 1.7em;
  text-decoration: none;
}

.navbar-nav {
  margin-left: 30px;
}

.navbar-brand a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #4a47a3;
}

.nav-links a:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

/*
.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 50%;
}*/

.nav-links a:focus {
  color: #276678;
  font-weight: 500;
}

/* User Profile Dropdown */
.dropdown-toggle {
  color: #8261ee;
}

#user-name {
  font-size: 24px;
  color: #8261ee;
}

#user-name > img {
  margin-top: -5px;
}

#user-avatar-icon:hover {
  fill: black;
}

.nav-pills .show > .nav-link {
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #4a47a3;
}

#user-name:hover {
  border-radius: 10px;
  background-color: #f0f0f0;
}

#user-drop {
  margin: 3px 0 0 0;
  padding: 0;
  z-index: 2;
  width: 100%;
  border: 1px solid #1c1c1d;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #202020;
}

.dropdown-divider {
  margin: 0;
}

/* Stats Button */
#stats-btn {
  border-radius: 9px 9px 0 0;
  color: #8261ee;
  padding: 20px;
  outline: none;
}

#settings-btn {
  padding: 20px;
  color: #8261ee;
  outline: none;
}

#stats-btn:hover,
#settings-btn:hover {
  background-color: #f0f0f0;
}

/* Logout Button (User Icon) */
#logout-btn {
  color: #e84545;
  background-color: #fff4f4;
  height: 70px;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0 0 9px 9px;
  outline: none;
}

#logout-btn:hover {
  color: #fff;
  background-color: #e84545;
}

#stats-icon,
#settings-icon,
#logout-icon {
  margin-right: 10px;
}

#logout-icon {
  transform: rotate(180deg);
}

#logout-btn:hover > svg {
  stroke: #fff;
}

/* Landing Component */

.main {
  margin: 100px auto;
  justify-content: center;
}

/* Upload Card */
.upload-card {
  position: relative;
  width: 300px;
  height: 150px;
  border: none;
  margin: auto;
  margin-top: 5%;
  transition: 0.2s ease-in-out;
}

.upload-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgb(0, 150, 255, 0.7);
}

.upload-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4f66af;
  border: 2px solid #1c1c1d;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  outline: none;
}

#upload-icon,
#golive-icon {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

.upload-text,
.golive-text {
  float: right;
  font-size: 36px;
  margin: 30px 30px 0 0;
  letter-spacing: 0.5px;
  color: #ffffff;
}

/* Go-Live Card */

.golive-card {
  position: relative;
  width: 300px;
  height: 150px;
  border: none;
  margin: auto;
  margin-top: 5%;
  transition: 0.2s ease-in-out;
}

.golive-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 87, 51, 0.7);
}

.golive-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fa6648;
  border: 2px solid #1c1c1d;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  outline: none;
}

/* Latest Card */

.latest-card-1,
.latest-card-2,
.latest-card-3 {
  position: relative;
  width: 350px;
  height: 180px;
  border: none;
  margin: auto;
  margin-top: 10%;
  transition: 0.2s ease-in-out;
}

.latest-card-1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(27, 219, 196, 0.7);
}

.latest-card-2:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(233, 176, 223, 0.7);
}

.latest-card-3:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(248, 220, 129, 0.7);
}

#latest-image {
  position: relative;
  left: 10%;
  top: 10%;
  float: left;
  z-index: 2;
  width: 20%;
}

.latest-body-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  background: #1bdbc4;
  border: 2px solid #1c1c1d;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  outline: none;
}

.latest-body-2 {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  background: #e9b0df;
  border: 2px solid #1c1c1d;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  outline: none;
}

.latest-body-3 {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  background: #f8dc81;
  border: 2px solid #1c1c1d;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  outline: none;
}

.latest-title-text {
  position: relative;
  float: right;
  margin-right: 20px;
  padding-bottom: 5px;
  justify-content: center;
  font-size: 36px;
  display: flex;
  letter-spacing: 0.5px;
  color: #fff;
}

.latest-desc-text {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  letter-spacing: 0.5px;
  color: #fff;
}

#heading-text {
  margin-top: 20px;
  font-family: Permanent Marker, cursive;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

/* Line 4 */
#line {
  height: 0px;
  left: 10%;
  right: 10%;
  margin-top: 5%;
  border-top: 2px solid #1c1c1d;
}

/* Discuss Component */

.askques-card {
  border-radius: 10px;
}

.card-header {
  border-radius: 10px 10px 0 0;
}

/* Upload Component */

#form-heading {
  color: #8261ee;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0;
}

.upload-form input,
.upload-form textarea,
.upload-form select,
.upload-form #subject-toggle {
  color: #777;
  font-size: 16px;
  border: 2px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.upload-form #subject-toggle {
  color: #8261ee;
  width: 200px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.upload-form #subject-toggle:hover,
.upload-form #subject-toggle:focus {
  color: #5a189a;
  background-color: #edf6f9;
  border: 1px solid #333;
  outline: none;
}

.upload-form #subject-drop {
  width: 200px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 0;
}

.upload-form #subject-drop .dropdown-item {
  height: 50px;
}

.upload-form #subject-drop .dropdown-item:nth-child(1) {
  border-radius: 10px 10px 0 0;
}

.upload-form #subject-drop .dropdown-item:nth-last-child(1) {
  border-radius: 0 0 10px 10px;
}

.upload-form select {
  cursor: pointer;
}

.upload-form .select-items {
  position: absolute;
  background-color: DodgerBlue;
}

.upload-form select .module-options {
  border: 1px solid #111;
  border-radius: 10px;
  width: 100%;
  padding: 0;
}

.upload-form select .module-options:hover {
  background-color: #f0f0f0;
}

option[value=""][disabled] {
  display: none;
}

#addModule {
  background-color: #009e60;
  border: 1px solid #111;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  height: 50px;
  width: 50px;
}

.upload-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

#video-file::-webkit-file-upload-button,
#add-file::-webkit-file-upload-button {
  visibility: hidden;
}

#video-file,
#add-file {
  padding: 0;
}

#video-file::before,
#add-file::before {
  content: "Select File";
  position: relative;
  display: flex;
  float: right;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 10px;
  height: 100%;
  padding: 8px 20px;
  align-items: center;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 14px;
  right: 0%;
}

#video-file:hover::before,
#add-file:hover::before {
  border: 1px solid #111;
}

#upload-btn {
  outline: none;
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

#upload-btn:hover {
  background-color: #009e60;
  border: 2px solid #111;
  transform: scale(1.1);
}

#upload-btn.disabled,
#upload-btn:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.site-name {
  margin-top: 50px;
}
