#page-loader {
  width: 120px;
  height: 120px;
}

#page-loader circle {
  stroke-width: 7;
  stroke-linecap: round;
  fill: none;
}

#page-loader circle:nth-child(1) {
  stroke: #ffc114;
  stroke-dasharray: 40;
}

#page-loader circle:nth-child(2) {
  stroke: #ff5248;
  stroke-dasharray: 100;
}

#page-loader circle:nth-child(3) {
  stroke: #19cdca;
  stroke-dasharray: 180;
}

#page-loader circle:nth-child(4) {
  stroke: #4e80e1;
  stroke-dasharray: 350;
  stroke-dashoffset: -100;
}

@keyframes loader {
  50% {
    transform: rotate(360deg);
  }
}

#page-loader circle {
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

#page-loader circle:nth-of-type(1) {
  animation-delay: -0.2s;
}

#page-loader circle:nth-of-type(2) {
  animation-delay: -0.4s;
}

#page-loader circle:nth-of-type(3) {
  animation-delay: -0.6s;
}

#page-loader circle:nth-of-type(4) {
  animation-delay: -0.8s;
}
